@import "./mixins";
@import "./container";
@import "./big-wrapper";
@import "./header";
@import "./hero-section";
@import "./two-section";
@import "./three-secion";
@import "./four-section";
@import "./five-section";
@import "./six-section";
@import "./footer";
@import "./movie";
@import "./support-one-sec";
@import "./subscriptions";