
.five-section{
    padding-top: 100px;
}

.title4{
   font-weight: 700;
   font-style: Bold;
   font-size: 24px;
   line-height: 150%;
   letter-spacing: 0%;
   color: white;
}

.navbar-copiya{
    display: flex;
  gap: 8px;
  background-color: #0F0F0F;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #1F1F1F;
  width: fit-content;
}




.basic{
    color: white;
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}

.start-btn{
    width: 149px;
    padding: 14px 20px;
    background-color: #141414;
    color: white;
    border: 1px solid #262626;
    border-radius: 6px;

    &:hover{
        background-color: white;
        color: #141414;
        border: 1px solid black;
    }
}

.plan-btn{
    width: 149px;
    padding: 14px 20px;
    background-color: #E50000;
    color: white;
    border-radius: 6px;
    border: none;

    &:hover{
        background-color: white;
        color: #141414;
        border: 1px solid black;
    }
}


.plans{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.plan1{
    padding: 24px;
    background-color: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 10px;
}
.price{
    font-weight: 600;
    font-size: 24px;
    line-height: 73%;
    letter-spacing: 0%;
    color: white;
}

.month{
    color: #999999;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 73%;
    letter-spacing: 0%;
}

.buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}