
footer{
    padding: 50px 16px;
    background-color: #0F0F0F;
}

.one-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-h4{
   font-weight: 600;
   font-style: SemiBold;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 0%;
   color: white;
}

.text-list{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.text-list a:hover{
    color: blueviolet;
}

a{
    color: #999999;
}

.two-wrapper{
    display: flex;
    justify-content: space-between;
}

.size{
    font-size: 16px;
}

.images{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img1{
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #1A1A1A;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    
    .site-logo{
        width: 140px;
        height: 40px;
    }

    .navbar{
        display: block;
    }

    .header-images{
        display: block;
    }

    .header-images img{
        padding: 0 7px;
    }

    .hamburg-btn{
        display: none;
    }

    .hero-section{
        padding: 300px 30px 100px 30px;
    }

    .title-hero{
        font-size: 36px;
    }

    .text1{
        display: none;
    }

    .text-block{
        display: block;
    }


    // 2-sectioniki


    .title2{
        font-size: 28px;
    }

    .text{
        font-size: 16px;
    }


    // 3-sectionniki

    .title3{
        font-size: 28px;
    }


    .mobiles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .smart{
        font-size: 20px;
    }

    // 4-sectionniki


    .four-wrapper{
        @include flexbox;
    }

    .savollar{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    // 5-sectionniki


    .five-wrapper{
        @include flexbox;
    }

    .plans{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }




    .footer-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .one-wrapper{
        gap: 50px;
    }
}


@media only screen and (min-width: 1100px){
    
    .hero-section{
        padding: 350px 100px 50px 100px;
    }
    
    .card1{
        width: 250px;
    }

    .mobiles{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


    .start-wrapper{
        @include flexbox;
        text-align: start;
    }

    .one-wrapper{
        gap: 100px;
    }

    .two-wrapper{
        gap: 100px;
    }
}

@media only screen and (min-width: 1300px){
    
    .site-logo{
        width: 200px;
        height: 60px;
    }

    .navbar{
        padding: 17px;
    }
    
    .title-hero{
        font-size: 52px;
    }

    .card1{
        height: 282px;
    }

    .c1-img{
        width: 192px;
        height: 210px;
    }

    .cards{
        justify-content: space-between;
        overflow-x: unset;
    }
}