

.hero-section{
    padding: 200px 10px 25px 10px;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a{
    text-decoration-line: none;
}

.title{
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
}

.title-hero{
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
}

.text{
    color: #999999;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text1{
    color: #999999;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-block{
    display: none;
    color: #999999;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

.strat-btn{
    width: 209px;
    height: 52px;
    font-weight: 500;
    font-style: SemiBold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 14px;
    padding-right: 24px;
    padding-bottom: 14px;
    padding-left: 24px;
    gap: 4px;
    opacity: 1;
    border-radius: 8px;
    background-color: hsl(0, 100%, 45%);
    border: none;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: hsl(0, 100%, 65%);
    }
}