
.three-section{
        margin-top: 80px;
}

.title3{
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
}

.mobiles{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.mobile{
    padding: 24px;
    border: 1px solid #262626;
    border-radius: 10px;
    background-image: linear-gradient(221.52deg, #0F0F0F,#6a1c1c );

    &:hover{
        transform: scale(1.1);
        transition: 0.2s linear;
    }
}

.m-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.smart{
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 150%;     
    letter-spacing: 0%;
    color: white;
}